<launch>

  <arg name="robot_id" default="3"/>
  <arg name="mocap_3" default="brick"/>
    <!--   mocap brick-->
  <group ns="$(arg mocap_3)">
    <include file="$(find cooperation_landing)/launch/camera_mocap/mocap.launch">
        <arg name="robot_id" value="3"/>
    </include>
  </group>
</launch>