<launch>

  <arg name="robot_id" default="5"/>
  <arg name="mocap_2" default="box_13"/>
    <!--   mocap box13-->
  <group ns="$(arg mocap_2)">
    <include file="$(find cooperation_landing)/launch/camera_mocap/mocap.launch">
        <arg name="robot_id" value="5"/>
    </include>
  </group>
</launch>
