<?xml version="1.0"?>

<launch>
  <arg name="spawn_x" default="1.0" />
  <arg name="spawn_y" default="1.0" />
  <arg name="robot_name" default="quadrotor" />

  <!--Robot Description for your robot-->
  <include file="$(find cooperation_landing)/launch/quadruped_robot/quadrotor_description.launch" />

  <!--Gazebo-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="world_name" value="$(find cooperation_landing)/gazebo_model/world/cooperation_april_tags.world" />
  </include>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_quadrotor" args="-urdf -model quadrotor -x $(arg spawn_x) -y $(arg spawn_y) -param robot_description" />

</launch>
