<launch>

   <param name="robot_description" command="$(find xacro)/xacro $(find unitree_ros)/robots/a1_description/urdf/a1.urdf" />

  <rosparam file ="$(find cooperation_landing)/config/robot/RvizInit.yaml" command="load"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" >
  </node >
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
