<launch>
  <include file="$(find cooperation_landing)/launch/quadruped_robot/spot_description.launch"/>

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cooperation_landing)/config/robot/test.rviz" />
</launch>
