<?xml version="1.0"?>

<robot name="simulation_environment_brick" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="brick">
    <inertial>
      <mass value = "0.001" />
      <origin xyz="0 0 0.01556" rpy="0 0 0"/>
      <inertia
          ixx="0.000001" ixy="0" ixz="0"
          iyy="0.000001" iyz="0"
          izz="0.00001"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://cooperation_landing/urdf/mesh/brick_294g.dae" />
      </geometry>
    </visual>
  </link>
</robot>
