<?xml version="1.0"?>

<robot name="unitree_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find go1_description)/xacro/robot.xacro" />

  <xacro:macro name="extra_module" params="name parent *origin *inertial visible:=0 model_url:=1 scale:=1">
    <joint name="${parent}2${name}" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}"/>
      <xacro:insert_block name="origin" />
    </joint>
    <link name="${name}">
      <xacro:insert_block name="inertial" />
      <xacro:if value="${visible == 1}">
        <visual>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="${model_url}" scale= "${scale} ${scale} ${scale}"/>
          </geometry>
        </visual>
      </xacro:if>
    </link>
  </xacro:macro>

  <!-- upward camera: depth, color based on left camera -->
  <xacro:extra_module name = "upward_camera_frame" parent = "trunk">
    <origin xyz="0.0925 0.00 0.1" rpy="0 ${-pi / 2} 0"/>
    <inertial>
      <mass value = "0.00001" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia
          ixx="0.000001" ixy="0.0" ixz="0.0"
          iyy="0.000001" iyz="0.0"
          izz="0.000002"/>-->
    </inertial>
  </xacro:extra_module>

  <xacro:extra_module name = "upward_camera_optical_frame" parent = "upward_camera_frame">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <inertial>
     <mass value = "0.00001" />
     <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia
          ixx="0.000001" ixy="0.0" ixz="0.0"
          iyy="0.000001" iyz="0.0"
          izz="0.000002"/>
    </inertial>
  </xacro:extra_module>


  <!-- PROPERTY-->
  <gazebo reference="upward_camera_frame">
    <sensor type="camera" name="upward_camera">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.57</horizontal_fov>
        <image>
          <width>1080</width>
          <height>720</height>
          <format>RGB</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <robotNamespace>unitree_camera</robotNamespace>
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>upword_camera</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>unitree_camera/upward_camera_optical_frame</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>
</robot>
