<?xml version="1.0"?>

<robot name="upward_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find go1_description)/xacro/robot.xacro" />

  <xacro:macro name="extra_module" params="name parent *origin *inertial visible:=0 model_url:=1 scale:=1">
    <joint name="${parent}2${name}" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}"/>
      <xacro:insert_block name="origin" />
    </joint>
    <link name="${name}">
      <xacro:insert_block name="inertial" />
      <xacro:if value="${visible == 1}">
        <visual>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="${model_url}" scale= "${scale} ${scale} ${scale}"/>
          </geometry>
        </visual>
      </xacro:if>
    </link>
  </xacro:macro>

  <!-- upward camera: monocular camera-->
  <xacro:extra_module name = "upward_camera_frame" parent = "trunk" visible = "0">
    <origin xyz="${0.270} ${0.00} ${0.137}" rpy="0 ${-pi / 2} ${-pi / 2}"/>
    <inertial>
      <mass value = "0.00001" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia
          ixx="0.000001" ixy="0.0" ixz="0.0"
          iyy="0.000001" iyz="0.0"
          izz="0.000002"/>-->
    </inertial>
  </xacro:extra_module>
  <xacro:extra_module name = "upward_camera_optical_frame" parent = "upward_camera_frame" visible = "0">
    <origin xyz="0 0 0" rpy="${-pi / 2} 0 0"/>
    <inertial>
     <mass value = "0.00001" />
     <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia
          ixx="0.000001" ixy="0.0" ixz="0.0"
          iyy="0.000001" iyz="0.0"
          izz="0.000002"/>
    </inertial>
  </xacro:extra_module>

</robot>
