<?xml version="1.0"?>

<robot name="simulation_environment_cube11" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="cube_pick">
    <inertial>
      <mass value = "0.1" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia
          ixx="0.000001" ixy="0" ixz="0"
          iyy="0.000001" iyz="0"
          izz="0.000001"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://cooperation_landing/urdf/mesh/cube_0.3_0.3_1.2.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.6"/>
      <geometry>
        <box size="0.3 0.3 1.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="apriltag_11_joint" type="fixed">
    <parent link="cube_pick"/>
    <child link="apriltag_11"/>
    <origin xyz="0 -0.15 0.6" rpy="${pi/2} 0 0" />
    <axis xyz="0 0 1"/>
  </joint>

  <link name="apriltag_11">
    <inertial>
      <mass value = "0.001" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia
          ixx="0.000001" ixy="0" ixz="0"
          iyy="0.000001" iyz="0"
          izz="0.000001"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://cooperation_landing/urdf/mesh/apriltag_11_0.3.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>

</robot>
