<?xml version="1.0"?>
<launch>
  ###########  launch config  ###########
  <arg name="estimate_mode"  default= "0" />

  ###########  Robot Model  ###########
  <include file="$(find mini_quadrotor)/launch/bringup.launch" >
    <arg name="estimate_mode" value="$(arg estimate_mode)" />
  </include>

  <include file="$(find mini_quadrotor)/launch/includes/camera.launch">
    <arg name="robot_ns" value="quadrotor" />
    <arg name="camera_ns" value="usb_cam_forward" />
    <arg name="image_width" default="1280" />
    <arg name="image_height" default="720" />
  </include>

</launch>
