<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="robot_ns" default="qilin" />
  <arg name="camera_upward_ns" default="usb_cam_upward" />
  <arg name="camera_forward_ns" default="usb_cam_forward" />
  <!--upward_cam-->
  <include file="$(find cooperation_landing)/launch/camera_apriltag.launch">
    <arg name="robot_ns" default="$(arg robot_ns)" />
    <arg name="camera_ns" default="$(arg camera_upward_ns)" />
  </include>

  <!--forward_cam-->
<!--   <include file="$(find cooperation_landing)/launch/camera_apriltag.launch"> -->
<!--     <arg name="robot_ns" default="$(arg robot_ns)" /> -->
<!--     <arg name="camera_ns" default="$(arg camera_forward_ns)" /> -->
<!--   </include> -->

  <!-- Mocap -->
  <group ns="$(arg robot_ns)">
    <include file="$(find cooperation_landing)/launch/mocap.launch">
      <arg name="robot_id" default="2"/>
    </include>
  </group>
</launch>
